<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.khasang.poti">

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:name="io.khasang.poti.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_poti"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault.Light">
        <activity
            android:name="io.khasang.poti.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.khasang.poti.GeneralSettingsActivity"
            android:launchMode="standard" />
        <activity
            android:name="io.khasang.poti.AdditionalOptionsActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="io.khasang.poti.VibrateActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="io.khasang.poti.CountDownActivity"
            android:launchMode="singleTop" />

        <service android:name="io.khasang.poti.TimerNotificationService" />
        <service android:name="io.khasang.poti.NLService" />
    </application>
    <uses-permission android:name="android.permission.VIBRATE" />
</manifest>