<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ni032mas.poti">

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_poti"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault.Light">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GeneralSettingsActivity"/>
        <activity android:name=".AdditionalOptionsActivity"/>
        <activity android:name=".VibrateActivity"/>
        <service android:name=".TimerNotificationService" />
    </application>
    <uses-permission android:name="android.permission.VIBRATE" />
</manifest>
